<div id='tuneup-schema' style='display:none;'>
  <% Fiveruns::Tuneup.schemas.each do |table, schema| %>
    <div id='tuneup-schema-table-<%= table %>' class='tuneup-schema-table' style='display:none;'>
      <h3>Schema for '<%= table %>'</h3>
      <table>
        <tr>
          <th>Name</th><th>Type</th>
        </tr>
        <% schema[:columns].each do |column| %>
          <tr>
            <td><%=h column[:name] %></td><td><%=h column[:sql_type] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>