<li>
  <%= tuneup_step_bar(step) %>
  <h4><span><%= '%.2f' % step.time %> ms</span><%= tuneup_step_link step %></h4>
  <% if step.children.any? %>  
    <ul>
      <%= render :partial => 'step', :collection => step.children %>
    </ul>
  <% end %>
</li>