<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= name %></title>
  </head>
  <body>
    <h1><%= name %></h1>
    <% images.each do |file| %>
      <img src='images/<%= file %>' alt=''><br/>
    <% end %>
  </body>
</html>