/* Targeted CSS Reset (based on Eric Meyer's)  */

#fiveruns-tuneup h3, #fiveruns-tuneup h4, #fiveruns-tuneup h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  background: none;
  text-transform: none;
}
/*
#fiveruns-tuneup a img, #fiveruns-tuneup :link img, #fiveruns-tuneup :visited img {
  border: 0;
}
#fiveruns-tuneup table {
  border-collapse: collapse;
  border-spacing: 0;
}
#fiveruns-tuneup ol, #fiveruns-tuneup ul {
  list-style: none;
}
#fiveruns-tuneup q:before, #fiveruns-tuneup q:after,
#fiveruns-tuneup blockquote:before, #fiveruns-tuneup blockquote:after {
  content: "";
}
*/

/* Styling */
#fiveruns-tuneup { 
  height: 55px; background: #f0f4fd; padding: 0 0 0 10px;
  font-family: "Helvetica Neue", "Lucida Grande", Calibri, Helvetica, Verdana, sans-serif;
}
#fiveruns-tuneup h3 { font-weight: bold; font-size: 16px; line-height: 55px; color: black; vertical-align: middle; text-align: left; float: left;}
#fiveruns-tuneup-content { margin-left: 80px; color: #000; height: 55px; vertical-align: middle; text-align: left; }
#fiveruns-tuneup label { display: inline; font-size: 13px; font-weight: normal; color: #666; padding: 2px 2px; }
#fiveruns-tuneup label, #fiveruns-tuneup button { margin: 0 6px 0 20px; }
#fiveruns-tuneup #fiveruns-tuneup-content p { height: 55px; line-height: 55px; vertical-align: middle; padding: 0; display: inline; }
#fiveruns-tuneup .small { font-size: 10px; color: #666; padding: 0 8px 0 8px;}

#fiveruns-tuneup-bar { float: right; margin: 0 4px; margin-left: 10px; height: 15px; list-style: none; }
#fiveruns-tuneup-bar li { float:left; height: 20px; color: #fff; font-weight: bold; line-height: 20px; vertical-align: middle; padding: 0 4px;
  background-image: url(/images/fiveruns-tuneup-fade.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  border: 1px #fff solid;
}
#fiveruns-tuneup-bar-model { background-color: #FF9800; border-right: none; }
#fiveruns-tuneup-bar-view { background-color: #38D023; border-right: none; }
#fiveruns-tuneup-bar-controller { background-color: #3388D5; }

#fiveruns-tuneup-summary { position: absolute; top: 10px; right: 10px; padding: 9px; margin: 3px; text-align: center; z-index: 11000; color: #555; }
#fiveruns-tuneup-data:hover #fiveruns-tuneup-summary {
  top: 7px;
  right: 7px;
  border: 3px #829BAF solid;
  border-bottom: 0px;
  background: #f0f4fd;
}
#fiveruns-tuneup-details { display: none; position: absolute; top: 46px; right: 10px; padding: 9px; margin: 3px; text-align: left; z-index: 10999;}
#fiveruns-tuneup-data:hover #fiveruns-tuneup-details {
  display: block;
  top: 43px;
  right: 7px;
  background: #f0f4fd;
  border: 3px #829BAF solid;
  min-width: 300px;
}
#fiveruns-tuneup-details p { line-height: 1; }
#fiveruns-tuneup-shade { display: none; position: absolute; top: 55px; left: 0px; width: 100%; height: 100%; opacity: 0.6; background: #fff; z-index: 10998; }
#fiveruns-tuneup-data:hover #fiveruns-tuneup-shade { display: block; }
#fiveruns-tuneup-details li { }
#fiveruns-tuneup-details .bar {
  float: right;
  margin-left: 20px;
  height: 15px;
  padding: 0;
  margin: 0;
  background-image: url(/images/fiveruns-tuneup-fade.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  border: 1px #fff solid;
}
#fiveruns-tuneup-details ul { margin: 0; padding: 0; }
#fiveruns-tuneup-details ul ul { background: #E4ECFF; }
#fiveruns-tuneup-details ul ul ul { background: #CFDEFF;}
#fiveruns-tuneup-details ul ul ul ul { background: #BDD1FD;}
#fiveruns-tuneup-details ul ul ul ul ul { background: #A4BDF3;}
#fiveruns-tuneup-details ul ul ul ul ul ul { background: #83A1E4;}

#fiveruns-tuneup h4 { font-size: 12px; color: #666; display: inline; }
#fiveruns-tuneup h4 span { float: right; text-transform: none; margin-left: 20px; }

/* TODO: Depth threshold */

.tuneup-step-name, .tuneup-step-time { color: #555; font-size: 12px; }

#fiveruns-tuneup-details .bar.model { background-color: #FF9800; }
#fiveruns-tuneup-details .bar.view { background-color: #38D023; }
#fiveruns-tuneup-details .bar.controller { background-color: #3388D5; }