/* Targeted CSS Reset (based on Eric Meyer's)  */

#fiveruns-tuneup h3, #fiveruns-tuneup h4, #fiveruns-tuneup h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  background: none;
  text-transform: none;
}

/* Styling */
#fiveruns-tuneup { 
  height: 55px; background: #f0f4fd; padding: 0 0 0 10px;
  font-family: "Helvetica Neue", "Lucida Grande", Calibri, Helvetica, Verdana, sans-serif;
}
#fiveruns-tuneup h3 { font-weight: bold; font-size: 16px; line-height: 55px; color: black; vertical-align: middle; text-align: left; float: left;}
#fiveruns-tuneup-content { margin-left: 80px; color: #000; height: 55px; vertical-align: middle; text-align: left; }
#fiveruns-tuneup label { display: inline; font-size: 13px; font-weight: normal; color: #666; padding: 2px 2px; }
#fiveruns-tuneup label, #fiveruns-tuneup button { margin: 0 6px 0 20px; }
#fiveruns-tuneup #fiveruns-tuneup-content p.full { height: 55px; line-height: 55px; vertical-align: middle; padding: 0; display: inline; }
#fiveruns-tuneup .small { font-size: 10px; color: #666; padding: 0 8px 0 8px;}

#tuneup-root-bar { float: right; }

.tuneup-bar { margin: 0 4px; margin-left: 10px; height: 15px; list-style: none; }
.tuneup-bar li { float:left; height: 20px; color: #fff; line-height: 20px; vertical-align: middle; font-size: 11px; padding: 0 4px;
  background-image: url(/tuneup/asset?file=fade.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  border: 1px #fff solid;
}
.tuneup-layer-model { background-color: #FF9800; border-right: none; }
.tuneup-layer-view { background-color: #38D023; border-right: none; }
.tuneup-layer-controller { background-color: #3388D5; }

#fiveruns-tuneup-top { position: absolute; top: 3px; right: 10px; padding: 0; margin: 0;  z-index: 11000; }
#fiveruns-tuneup-top #fiveruns-tuneup-save-link { line-height: 45px; vertical-align: bottom; margin: 9px; text-align: center; font-weight: bold; padding-left: 20px; background: url(/tuneup/asset?file=pointer.gif) 0 50% no-repeat; }
#fiveruns-tuneup-summary { float: right; padding: 9px; margin: 3px; text-align: center; color: #555; }

#fiveruns-tuneup-data #fiveruns-tuneup-save-link { margin: 6px; } /* h */
#fiveruns-tuneup-data #fiveruns-tuneup-top { /* h */
  top: 0px;
  right: 7px;
}
#fiveruns-tuneup-data #fiveruns-tuneup-summary { /* h */
  border: 3px #829BAF solid;
  border-bottom: 0px;
  background: #f0f4fd;
}
/* display: none below */
#fiveruns-tuneup-details { display: block; position: absolute; top: 46px; right: 10px; padding: 9px; margin: 3px; text-align: left; z-index: 10999;}
#fiveruns-tuneup-data #fiveruns-tuneup-details { /* h */
  display: block;
  top: 36px;
  right: 7px;
  background: #f0f4fd;
  border: 3px #829BAF solid;
  min-width: 300px;
}
#fiveruns-tuneup-shade { display: none; position: absolute; top: 55px; left: 0px; width: 100%; height: 100%; opacity: 0.6; background: #fff; z-index: 10998; }
#fiveruns-tuneup-data:hover #fiveruns-tuneup-shade { display: block; }

#fiveruns-tuneup-details ul dl { margin: 0; padding: 0; clear: left; }
#fiveruns-tuneup-details ul dt { float: left; overflow: hidden; height: 20px; margin: 0 10px 0 0; padding: 0; color: #555; font-size: 12px; text-transform: none; font-weight: inherit;}
#fiveruns-tuneup-details ul dt p { }
#fiveruns-tuneup-details ul dt strong { color: #000; }
#fiveruns-tuneup-details ul dt span.time { float: right; text-transform: none; font-size: 11px; font-weight: normal; margin-left: 2em; }


#fiveruns-tuneup-details ul dt a, #fiveruns-tuneup-details ul dt a:active, #fiveruns-tuneup-details ul dt a:visited {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: left;
  position: inherit;
}

.tuneup-bar li { text-align: center; }

#fiveruns-tuneup #fiveruns-tuneup-details li.fiveruns_tuneup_step { padding-left: 12px; }
#fiveruns-tuneup #fiveruns-tuneup-details li.fiveruns_tuneup_step.with-children {  background: url(/tuneup/asset?file=arrows.gif) top left no-repeat;}
#fiveruns-tuneup #fiveruns-tuneup-details li.fiveruns_tuneup_step.with-children.tuneup-opened { background: url(/tuneup/asset?file=arrows.gif) 0 -20px no-repeat; }

#fiveruns-tuneup-details ul { margin: 0; padding: 0; }
#fiveruns-tuneup-details ul span.time { margin-right: 12px; }

#fiveruns-tuneup li .children { display: none; }

#fiveruns-tuneup-details ul dd {
  margin: 0 0 0 510px;
  height: 20px;
  padding: 0;
}

#fiveruns-tuneup-details ul ul.fiveruns_tuneup_children { background: #E4ECFF; }
#fiveruns-tuneup-details span.time { margin-right: 22px; }
#fiveruns-tuneup-details ul ul dd { margin-left: 498px; }

#fiveruns-tuneup-details ul ul ul.fiveruns_tuneup_children { background: #CFDEFF;}
#fiveruns-tuneup-details ul ul ul span.time { margin-right: 32px; }
#fiveruns-tuneup-details ul ul ul dd { margin-left: 486px; }


#fiveruns-tuneup-details ul ul ul ul.fiveruns_tuneup_children { background: #BDD1FD;}
#fiveruns-tuneup-details ul ul ul ul span.time { margin-right: 42px; }
#fiveruns-tuneup-details ul ul ul ul dd { margin-left: 474px; }


#fiveruns-tuneup-details ul ul ul ul ul.fiveruns_tuneup_children { background: #A4BDF3;}
#fiveruns-tuneup-details ul ul ul ul ul span.time { margin-right: 52px; }
#fiveruns-tuneup-details ul ul ul ul ul dd { margin-left: 462px; }


#fiveruns-tuneup-details ul ul ul ul ul ul.fiveruns_tuneup_children { background: #83A1E4;}
#fiveruns-tuneup-details ul ul ul ul ul ul span.time { margin-right: 62px; }
#fiveruns-tuneup-details ul ul ul ul ul ul dd { margin-left: 450px; }

#fiveruns-tuneup-details ul ul ul ul ul ul ul.fiveruns_tuneup_children { background: #7496DF;}
#fiveruns-tuneup-details ul ul ul ul ul ul ul span.time { margin-right: 72px; }
#fiveruns-tuneup-details ul ul ul ul ul ul ul dd { margin-left: 438px; }


/* Threshold */
#fiveruns-tuneup-details ul ul ul ul ul ul ul { display: none; }

#fiveruns-tuneup-flash { display: none; text-align: left; font-size: 12px; padding: 10px; color: #000; border-top: 1px #CCC solid; border-bottom: 1px #CCC solid; }
#fiveruns-tuneup-flash emph { color: #666; font-style: italic; }
#fiveruns-tuneup-flash p { font-family: sans-serif; padding: px; margin: 0; }
#fiveruns-tuneup-flash h4 { padding: 0; padding-left: 20px; font-size: 14px; font-weight: bold; margin: 0.5em 0; font-family: sans-serif; background: none; color: #000; border: 0; }
#fiveruns-tuneup-flash.tuneup-show { display: block; }
#fiveruns-tuneup-flash.tuneup-error {  background: #FDFCDB; }
#fiveruns-tuneup-flash.tuneup-error h4 { background:  url(/tuneup/asset?file=warning.gif) 0 50% no-repeat; }
#fiveruns-tuneup-flash.tuneup-notice { padding-left: 0; background: #E4FFDE; }

#fiveruns-tuneup-details .tuneup-bar { width: 400px; height: 20px; padding: 0; margin: 0 !important; overflow: hidden; }
#fiveruns-tuneup-details .tuneup-bar li { height: 20px; padding: 0; margin: 0  !important; }
