<% form_remote_tag :url => '/tuneup/signin', :loading => 'TuneUp.Spinner.start()', :complete => 'TuneUp.Spinner.stop()' do %>
  <p class='full'>
    <label for='email'>Email</label>
    <%= text_field_tag :email, nil, :size => 20 %>
  
    <label for='password'>Password</label>
    <%= password_field_tag %>
  
    <button><%= image_tag '/images/tuneup/signin.gif', :alt => 'Sign In' %></button>
    or  
    <%= link_to "Sign Up for an Account", tuneup_signup_url %>
  </p>
  
<% end %>